*{
    box-sizing: border-box;
    margin: 0;
}

#auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
#auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px;
    border-radius: 12px;
   height: 40%;
   width: 40%;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: darkgreen;
    border: 3px solid black;
    position: absolute;
    top: 0;
    width: 100vw;
}

#ted-list {
    height: 75vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 50px;
    overflow-x: scroll;
    border: 1px solid black;
    padding: 20px;
    scroll-snap-type: x;
  scroll-snap-points-x: 0, 50%, 100%;
  background-color: darkgreen;
}

#ted-details-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 20px;
    border: 1px solid darkgreen;
    border-radius: 12px;
padding: 10px;
background-color: white;
}

.ted-img {
    height: 30%;
    width: 30%;
}

#add-form-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#add-bud-form {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 50vw;
    justify-content: center;
    gap: 25px;
    padding: 25px;
    border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 50vh;
    width: 40vw;
    border: 2px solid black;
    border-radius: 12px;
    padding: 25px;
}

.view-cmt-btn {
    margin-top: 25px;
}

.comment-btn-dropdown{
    position: relative;
    
}

.comment-drawer {
    /* ... other styles ... */
    opacity: 0; /* Initial opacity */
    transition: max-height 1s ease-in-out, opacity 0.3s ease-in-out; /* Transition effect */
    max-height: 0;
    overflow: hidden;
  }

  .comment-drawer.open {
    opacity: 1; 
    /* max-height: fit-content; */
    padding: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 15vh;
    gap: 10px;
    align-items: center;

  }

  .dropdown-content {
    position: absolute; /* Position the content absolutely relative to the container */
    top: 100%; /* Position the content below the button */
    left: 0; /* Align the content with the left edge of the button */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1; /* Set the z-index to be higher than other elements */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: translateX(-80%); /* Move the dropdown content left by 50% of its width */
  }

  #comment-container {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#comment-div-container {
    position: relative;
    background-color: rgb(184, 177, 177);

}


#view-add-comment-btn {
    width: 200px;
}

.profilePic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid blue;
}

#profile-header {
    height: 20vh;
    width: 100vw;
    display: flex;
    border: 2px solid red;
    position: absolute;
    top: 10vh;
}

#public-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 150px;
}

#profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}